@using Movies.Models

@{
    ViewData["Title"] = "Search";
}
@model SearchViewModel


@if (!string.IsNullOrWhiteSpace(@Model.Title) && !Model.Response.Equals("False"))
{
    <h1>Search results by title: @Model.Title  (Count : @Model.TotalResults )</h1>
    <p>Total pages : @Model.TotalPages</p>




    <div class="container">
        <div class="row">
            @foreach (Movie item in @Model.Movies)
            {
                <div class="col-3">
                    <partial name="_MovieCardPartial" model="@item"></partial>
                </div>
            }
        </div>

        <br>
        <hr>


        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center align-content-center">

                @if (@Model.CurrentPage > 1)
                {
                    <li class="page-item"><a class="page-link" asp-controller="Home" asp-action="Search" asp-route-page="@(Model.CurrentPage-1)" asp-route-title="@Model.Title">Previous</a></li>

                }
                @for (var i = @Model.CurrentPage - @Model.SizePages; i <= @Model.CurrentPage + @Model.SizePages; i++)
                {
                    if (i > 0 && i <= @Model.TotalPages)
                    {
                        <li class="page-item @(Model.CurrentPage==i?"active":"")"><a class="page-link" asp-controller="Home" asp-action="Search" asp-route-page="@i" asp-route-title="@Model.Title">@i</a></li>
                    }
                }

                @if (@Model.CurrentPage < @Model.TotalPages)
                {
                    <li class="page-item"><a class="page-link" asp-controller="Home" asp-action="Search" asp-route-page="@(Model.CurrentPage+1)" asp-route-title="@Model.Title">Next</a></li>

                }


            </ul>
        </nav>


    </div>



}
else
{
    <h3>No results!</h3>
}



@*<partial name="_ModalWindowPartial"></partial>*@


<!-- Button trigger modal -->
<button type="button" id="myBtn" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Launch static backdrop modal
</button>

<!-- Modal -->
<div class="modal fade"  id="movieModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">


                <div id="spinner" class="spinner-border" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
            </div>
        </div>
    </div>
    </div>





  @section Scripts
  {
   <script>
        $('#movieModal').modal('show');
        console.log('hello');

//$('[data-open-modal]').click(async function() {
  
//    event.preventDefault();

//    let url = $(this).attr('href');
//    let response = await fetch(url);
//    let result = await response.text();
//      console.log(result)
    
//    $('.modal-body').html(result);
//    $('#movieModal').modal('show');

//})
   </script>

  }



