<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title> 
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> 
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Movies</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" asp-controller="Home" asp-action="Index">Home</a>
        </li> 
      @*  <li class="nav-item">
        @Html.ActionLink("Home","Index","Home",null,new {title="My title",@class="nav-link"})
        </li> 
        <li class="nav-item">*@
     @*   @Html.MovieLink()*@
        </li> 
        
      </ul>
    </div>
  </div>
</nav>
    <div class="container">
        @RenderBody()
      @*  @Html.EmailLink();*@
        @*@Html.EmailLink("fabdullayev902@gmail.com")*@

       @* <email-link ="Farid Abdullayev" email="fabdullayev902@gmail.com"></email-link>*@

      @* <a my-email="fabdullayev902@gmail.com" my-title="Farid Abdullayev"></a>*@
    </div>
     

    <script src="https://kit.fontawesome.com/f90c8ac1d9.js" crossorigin="anonymous"></script>
   <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/script.js" asp-append-version="true"></script> 
    @RenderSection("Scripts",required:false)
</body>
</html>
