@model Post
@{
    ViewData["Title"] = "Detail";
}

<h1> <a asp-action="Index" asp-controller="Home" class="btn btn-info">Back</a> Detail</h1>


<h2>@Model.Id</h2>
<h2>@Model.Title</h2>
<h2>@Model.Content</h2>
<img src="@Model.ImageUrl" />
<h2>@Model.Date</h2>

@foreach(var item in Model.PostTags){
    <a class="btn btn-info">@item.Tag.Name</a>
}


