@{
    ViewData["Title"] = "Home Page";
    int a = 10;
    a++;
    a =10;
}

@model Person


<div class="text-center">
    <h1 class="display-4">Welcome @(10/a)</h1>
    <p>Learn about <a  asp-controller="Home" asp-action="Test">Go Test</a>.</p>
</div>

<h1>Farid</h1><h2>Abdullayev</h2>
<hr />
<h1>@ViewBag.Name</h1><h2>@ViewBag.Surname</h2>
<hr />
<h1>@Model.Name</h1><h2>@Model.Surname</h2><h4>@Model.Age</h4>
